{{-- Footer --}}
    <footer class="bg-sand-12 text-sand-1 py-6 text-center text-sm">
      <p>
        &copy; {{ new Date().getFullYear() }} Mon Blog. All rights reserved. -
        <a href="https://espoir-sorf.onrender.com" target="_blank" class="text-primary-lighter font-medium">Espoir-Soft</a>
      </p>
    </footer>