<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title || "YMon Blog" }}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pap..." crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,500,600,700"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Instrument Sans", "sans-serif"],
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff",
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)",
              },
            },
          },
        },
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="min-h-screen w-screen font-sans">
    {{-- Navbar --}}
    @include('partials/navbar')

    {{-- Contenu dynamique --}}
    <main class="pt-16 md:pt-16 pb-20 min-h-screen">
        {{{ await $slots.main() }}}
    </main>

    {{-- Footer --}}
    @include('partials/footer')
    {{-- Script pour le menu mobile --}}
    <script>
      document
        .getElementById("mobile-menu-button")
        .addEventListener("click", function () {
          const mobileMenu = document.getElementById("mobile-menu");
          mobileMenu.classList.toggle("hidden");
        });
    </script>

    <style>
      .stretched-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
      }
    </style>
  </body>
</html>
